a {
  color: #F2F7F7;
  font-size:24px;
  font-family: sans-serif;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  
  }
  
  li {
      float:right;
  }
  
  ul {
      background-color: #2B2C2C;
      list-style-type: none;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  
  .active {
      background-color: #2AB9B9; 
  }
  
  p {
      font-size: 24px; 
      font-family: sans-serif;
      padding: 10px 60px;
  
  }
  
  img {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  footer {
      background-color: #2B2C2C;
  
  }
  
  #footText {
      color: #F2F7F7;
  
  }
  
  #bg1 {
      background-image: url("images/bg1.jpg");
  }
  
  #bg2 {
      background-image: url("images/bg2.jpg");
  }
  
  #bg3 {
      background-image: url("images/bg3.jpg");
  }
  
  .picBackdrop {
      background-image: url("images/bg1.jpg");
      background-position: center;
      background-size: cover;
  }
  
  h1 {
      margin: 0;
      padding: 120px 10px;
      height: 60px;
      text-align: center;
      color: #F2F7F7;
      font-size: 72px;
      font-family: sans-serif;
  
  }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
